.container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    width: 80vw;
    max-width: 1000px;
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    flex: 1;
    max-width: 250px;
}

.formContainer input {
    font-size: 1em;
}

.formControls {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.formControls button {
    margin-right: 20px;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.birthdayControlsContainer {
    display: flex;
    align-items: center;
}

.birthdayControlsContainer input[type='date'] {
    width: 100%;
}
