.main {
    min-height: calc(100vh - 75px);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 25px;
}
