/* This file use to control nav elements */
/* for main container size and positioning check Layout.module.css */

.main {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 25px;
}

.signInMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
