/* Deviating from website theme colors for pure black for better printability */
.container {
    color: black;
}
.title {
    /* width: 95vw; */
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.title h1 {
    margin: auto;
    font-size: 1.4rem;
    color: black;
}

.body {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    color: black;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.items h1 {
    margin-block: 20px 0;
    font-size: 1.6rem;
}

.items hr {
    margin-block: 0 10px;
    border: solid 1px var(--gray-3);
}

.item {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.section span {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    border: solid 1px black;
}

.printBtn {
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
}

.printFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
