.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.spinner div {
    box-sizing: border-box;
    margin: 8px;
    width: 64px;
    height: 64px;
    border: 8px solid var(--gray-5);
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--gray-4) transparent;
}

.secondary div {
    width: 16px;
    height: 16px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
