/* dimension and positioning of the elements: nav, main, footer */

.layout {
    --nav-height: 100px;
    --footer-height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    --nav-height: 100px;
    height: var(--nav-height);
    width: 100%;
    max-width: 1920px;
}

.main {
    min-height: calc(100vh - var(--nav-height));
    width: 100%;
    max-width: 1440px;
}

.footer {
    height: var(--footer-height);
    width: 100%;
}
