.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5px solid var(--gray-3);
    gap: 1rem;
    margin-bottom: 10px;
}

.formTitleItem {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
}

.saveButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: -25px;
}

.saveButtons .backButton {
    width: 200px;
    margin-left: 25px;
}

.saveButtons .saveButton {
    width: 150px;
    margin-left: 25px;
    height: 45px;
}

.saveButtons span {
    flex-grow: 1;
}

.birthday {
    flex-grow: 1;
    flex-basis: calc(25% - 10px);
    margin: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: 5px;
}
