.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
}

.container hr {
    margin: 8px 0;
}

.errorMessageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.errorMessageContainer p {
    margin-right: 50px;
    color: var(--red);
}

.errorMessageContainer button {
    margin: 0;
}

.errorMessageContainer button:hover {
    background-color: var(--red);
    color: var(--gray-1);
}

.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

.rowContainer h3 {
    font-weight: 800;
    margin-right: 10px;
}

.rowContainer h1 {
    margin: 0;
    flex: 1;
}

.rowContainer span {
    margin-left: 10px;
}

.rowContainer p {
    margin-right: 30px;
}

.rowContainer button {
    margin-right: 15px;
}
