.container {
    margin: auto;
    --nav-height: 90px;
    height: var(--nav-height);
    position: relative;
    max-width: 1920px;
}

@media print {
    .container {
        display: none;
    }
}

.navLogo {
    position: absolute;
    height: var(--nav-height);
    left: 1rem;
    display: flex;
    align-items: center;
}

.navAuth {
    position: absolute;
    right: 1rem;
    height: var(--nav-height);
    display: flex;
    align-items: center;

}


.navbarLink {
    height: 50px;
    margin-inline: 15px;
    padding: 5px;
    padding-bottom: 20px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .1s ease;
}

.spacer {
    min-width: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbarLink:hover {
    border-bottom: 3px solid var(--gray-5);
}

.active {
    border-bottom: 3px solid var(--gray-5);
}