.card {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    justify-content: center;
    align-items: center;
    width: 375px;
    display: flex;
    flex-direction: column;
}

.card:hover,
.card:focus,
.card:active {
    color: var(--blue);
    border-color: var(--blue);
}

.card h2 {
    margin: 1rem 0 0 0;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.detailsContainer {
    flex-grow: 1;
}

.buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.button {
    margin: 10px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--gray-2);
    }
    100% {
        background-color: hsl(--gray-5);
    }
}

.skeletonName {
    width: 60%;
    height: 25px;
    margin-bottom: 1.2rem;
    border-radius: 5px;
}
.skeletonHeader {
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.skeletonText {
    width: 90%;
    height: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.skeletonButton {
    height: 35px;
    width: 60px;
    margin: 0 10px;
    border-radius: 5px;
}
