.clientListContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    min-height: 375px;
    margin: auto;
}

.clientListTitle {
    text-align: center;
}
