.formRows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-end;
}
.rowItems {
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
}
.rowItems > *:first-child {
    align-self: flex-start;
}
.rowItems > *:last-child {
    align-self: flex-end;
}
.rowItems > * {
    width: 80px;
}
.submitBtn {
    margin-top: 1rem;
    height: 50px;
    padding-inline: 2rem;
}
