:root {
    /* New */
    --gray-1: #f6f5f2;
    --gray-2: #e4e0d9;
    --gray-3: #beb6af;
    --gray-4: #8f8884;
    --gray-5: #2f2e2e;

    --blue: #3d5169;
    --yellow: #b4975a;
    --white: #ffffff;

    /* Old */
    /* --gray-1: var(--gray-2); */
    /* --gray-5: #7c7e7f; */
    /* --blue: var(--yellow); */
    /* --white: var(--gray-1) */
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--gray-5);
    background: var(--gray-1);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    color: var(--gray-5);
    background-color: var(--gray-2);
    transition: background-color 0.2s ease;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: var(--yellow);
    transition: background-color 0.2s ease;
}

input {
    padding: 12px;
    background-color: var(--white);
    border: solid 1px var(--gray-4);
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: solid 1px var(--blue);
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80vw;
    max-width: 1000px;
}
