.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;
}

.rowContainer h3 {
    font-weight: 800;
    margin-right: 10px;
}

.rowContainer h1 {
    margin: 0;
    flex: 1;
}

.rowContainer span {
    margin-left: 10px;
}

.rowContainer span.error {
    color: var(--red);
}

.rowContainer span.warning {
    color: var(--yellow);
}

.rowContainer span.success {
    margin-left: 10px;
    color: var(--green);
}

.rowContainer p {
    margin-right: 30px;
}

.rowContainer button {
    margin-right: 15px;
}

.visitBtn {
    width: 100px;
}
